.env
**/venv
.cache
*.pkl
.idea/
*.pyc
.pytest_cache/
*.swp
*.ipynb_checkpoints
esdata
*.DS_Store
__pycache__/
*.py[cod]
*$py.class
harvester/tests/integration/bioschemas
harvester/cgi_biomarkers_*
attic
.plotly
.htpasswd
util/elastic/backups

# Don't save data in github, just the README.md where data comes from
data/*.json
data/*.txt
data/msk_impact_2017*
data/*.tsv
data/cgi_biomarkers_per_variant.tsv
data/cgi_oncogenic_mutations.tsv
data/oncokb_all_mutations.tsv
data/proteins/
harvester/data
harvester/cosmic_lookup_table.tsv
harvester/CosmicMutantExport.tsv.gz
harvester/benchmark_results.txt
harvester/cgi_mut_benchmarking.tsv
harvester/oncokb_mut_benchmarking.tsv
harvester/oncokb_all_*.*
data/local

# ignore certs, etc.
compbio-tls
certs
letsencrypt_certs

# ignore viz created by notebooks
notebooks/*.png

# requests-cache(s)
harvester/*.sqlite
harvester/*.sqlite3
harvester/*log
harvester/.zotero
harvester/zotero_help.py

# json dump files
util/**/*.json
harvester/*.json
harvester/molecularmatch_trials.json
