.env
*.pyc
esdata
*.DS_Store
__pycache__/
*.py[cod]
*$py.class
harvester/tests/integration/bioschemas
harvester/cgi_biomarkers_*
attic
.plotly
.htpasswd
util/elastic/backups
harvester/cosmic_lookup_table.tsv
harvester/CosmicMutantExport.tsv.gz
harvester/benchmark_results.txt
harvester/cgi_mut_benchmarking.tsv
harvester/oncokb_mut_benchmarking.tsv
compbio-tls
certs
letsencrypt_certs
harvester/oncokb_all_actionable_variants*.*

# requests-cache(s)
harvester/*.sqlite
