################
version: '2.1'

services:
  # Elastic Search
  # note: on docker for mac, you may need to adjust the docker-machines' config
  # if you get this error ....
  # elastic    | ERROR: bootstrap checks failed
  # elastic    | max virtual memory areas vm.max_map_count [65530] likely too low, increase to at least [262144]
  # ... see this
  # https://github.com/elastic/elasticsearch-docker/blob/master/README.md#osx-with-docker-toolbox
  elastic:
    container_name: elastic_g2p
    build:
      context: services/elastic/
    volumes:
      - "./util:/util/"
    ports:
      - "${ELASTIC_PORT}:${ELASTIC_PORT}"
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
      - path.repo=/util/elastic/backups
      - http.cors.enabled=true
      - http.cors.allow-origin=*
      - "ES_JAVA_OPTS=-Xms4g -Xmx4g"
      # - http.cors.allow-methods=OPTIONS, HEAD, GET, POST, PUT, DELETE
      # - http.cors.allow-headers="X-Requested-With,X-Auth-Token,Content-Type, Content-Length, Authorization"

  kibana:
    container_name: kibana_g2p
    build:
      context: services/kibana/
    volumes:
      - "./util:/util/"
    ports:
      - "${KIBANA_PORT}:${KIBANA_PORT}"
    links:
      - elastic:elasticsearch
    environment:
      - xpack.security.enabled=false
      - XPACK_MONITORING_REPORT_STATS=false
      # - SERVER_BASEPATH=/kibana  # set in nginx-proxy

  api:
    container_name: api
    build:
      context: ./services/api
    volumes:
      - "./util:/util/"
      - "./data:/data/"
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      - ES=${ES}
      - SWAGGER_HOST=${SWAGGER_HOST}
      - HARVESTER_DATA=/data
      - BIOONTOLOGY_API_KEY=${BIOONTOLOGY_API_KEY}

# see docker-compose-nginx.yml for nginx proxy
