body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.alternate-header-group {
  background-color: #F0F0F0 ;
  border-left: thin solid grey;
  border-right: thin solid grey !important;
}
