connexion==1.1.16
pytest
requests==2.18.4
Flask-Cors==2.0.1
Flask-Testing==0.6.2
Flask-WebTest==0.0.9
pyOpenSSL==17.5.0
arrow==0.12.0
# for elasticsearch_backend
elasticsearch-dsl==6.0.0
elasticsearch==6.0.0

# # for basic_authorizer
# passlib==1.7.1
# # for all authorizers
# decorator==4.0.11
# # for metrics
# prometheus-client==0.1.1
